/* importing a font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');



/* apply the imported font to every single HTML element with the * selector */
* {
    font-family: 'Montserrat', sans-serif;
}

/* change the websites background color and remove the default margin applied in browser */

p {
    font-size: clamp(.85rem,3vw,1rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

h2 {
    /* background-color: chocolate; */
    /* display: flex; */
    color: #343b46;
    font-size: clamp(1.75rem,3vw,2.25rem);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    letter-spacing: -.025em;
    margin: 15px 15px 15px 0px;
    max-width: 90%;
}

.h2bold {
    /* background-color: chocolate; */
    /* font-size: clamp(1.75rem,3vw,2.25rem); */
    font-size: 36.5px;
    /* font-family: SemiBold,sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: #343b46;
    line-height: 1.25;
    /* letter-spacing: -.025em; */
    /* padding: 0px; */
    /* margin-bottom: 5px; */
}


body {
    background-color: white;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}


.content_width {
padding: 64px 80px;
}

.justify-c {
    justify-content: center;
}


.padtop20 {
    padding-top: 20px;
    }

.padtop30 {
padding-top: 30px;
}

.tmw80 {
    max-width: 80%;
}

.tmw85 {
    max-width: 85%;
}

.tmw90 {
    max-width: 90%;
}

.tmw95 {
    max-width: 95%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2b85;
    color: white;
    font-size: 14px;
    height: 42.5px;
    border-radius: 50px;
    /* margin-left: 22px; */
    padding: 0px 30px;
    margin: 15px 0px 10px 0px;
    max-width: fit-content;
    text-decoration: none;
}


/* NAVBAR CSS */
/* use flexbox to position the child elements in the nav tag */
nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: 66px;
    padding-left: 80px;
    padding-right: 55px;
    /* padding: 0px 80px; */
}

#navbarLogo {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* position: fixed; */
    /* background-color: coral; */
    /* margin-left: 60px; */
    margin-top: 1px;
    padding: 16px 0px;
    width: 164px;
}

#footerLogo {
    display: flex;
    box-sizing: border-box;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    background-color: coral;
    margin: 60px 0px 0px 70px;
    /* margin-top: 1px; */
    padding: 16px 0px;

    width: 164px;
    height: 32px;
}

#navbarlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(173, 203, 139); */
    /* margin-left: 30px; */
    /* padding-left: 50px; */
}


/* #navbarlinks a {

    color: #1D1D1D;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 12px;
    padding: 20px 0px;
    border-top: 5px solid transparent;
}

#navbarlinks a:hover {
    border-top: 2px solid #ff2b85;
} */

.nav_list {
    /* background-color: cadetblue; */
    display: flex;
    list-style: none;
    height: auto;
}

/* .nav_list li {
    margin: 10px;
} */


.fixed a {
    color:black;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 12px;
    padding: 22.5px 0px;
    border-top: 2px solid #ff2b85;
}

.tabbed a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 12px;
    padding: 22.5px 0px;
    border-top: 5px solid transparent;
}

.tabbed a:hover {
    border-top: 2px solid #ff2b85;

}


#loc {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2b85;
    height: 42.5px;
    border-radius: 50px;
    margin-left: 22px;
    padding: 0px 15px;

}


#loc a {
    color: white;
    font-size: 14px;
    background-color: #ff2b85;
    text-decoration: none;
}

#search {
    /* background-color: aqua; */
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 21px;
    margin-bottom: 6px;

}

#video-container {
    display: flex;
    justify-content: center;
    height: 480px;
    background-color: crimson;
    width: 100%;
    object-fit: cover;
    /* overflow-x: hidden; */
}

#image-container-mid {
    /* background-color: coral; */
    display: flex;
    width: 545px;
    height: 310px;
    object-fit: fill;
}

#image-container-lrg {
    /* background-color: coral; */
    display: flex;
    width: 550px;
    height: 366px;
    object-fit: fill;
}

.boldtextblock {
    /* background-color: coral; */
    width: 740px;
    height: 238px;
    padding-top: 34px;  
}

.bold_p {    
    font-family: SemiBold,sans-serif;
    color: #343b46;
    font-size: clamp(1.75rem,3vw,2.25rem);
    line-height: 1.25;
    letter-spacing: -.025em;
    /* margin-top: 20px; */
}

.bold_t {
    /* background-color: chocolate; */
    display: flex;
    justify-self: center;
    align-self: flex-start;
    /* font-weight: 400; */
    color: #343b46;
    font-size: 32px;
    margin-top: 5px;
    max-width: 60%;
}

.light_t {
    /* background-color: chocolate; */
    display: flex;
    justify-self: center;
    color: #343b46;
    font-family: Regular,sans-serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.5;
    /* margin-top: 20px; */
    margin: 0px;
}

.pink_t {
    display: flex;
    justify-self: center;
    color: #ff2b85;
    width: fit-content;
    font-family: Regular,sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
    /* margin: 0px; */
    text-decoration: none;
}

.pink_t:hover {
    color: #343b46;

}

#container_row1 {

display: flex;
height: 230px;
width: auto;
/* padding: 80px; */
/* background-color: chocolate; */
}


#reusable_row_container {
    /* background-color: cornflowerblue; */
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    height: max-content;
    width: 100%;
    margin-top: 0px;
    }


#container_row_lrg {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    margin-top: 0px;
}

.row_left {
    /* background-color: darkorchid; */
    display: flex;
    width: 50%;
    height: auto;
    /* padding-left: 20px; */
    margin: 0px;
    padding: 0px;
    /* padding: 20px 20px 20px 0px; */

}

.row_right {
    /* background-color: crimson; */
    display: flex;
    width: 50%;
    height: auto;
    /* padding-left: 20px; */
    margin: 0px;
    padding: 0px;
    /* padding: 20px 20px 20px 0px; */

}

#textblock_left {
    /* background-color: dodgerblue; */
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 310px;
    margin-right: 50px;
    /* padding-left: 30px; */
}

#textblock_right {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 310px;
    margin-left: 60px;
    /* padding-right: 20px; */
}

#textblock_center {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* justify-content: center; */
    width: 100%;
    height: auto;
    /* margin-left: 60px; */
    /* padding-right: 20px; */
}


.fakecarousel {
    display: flex;
    width: auto;
    height: 500px;
    object-fit: fill;
}

.footer_bg {
    box-sizing: border-box;
    border: 0;
    display: block;
    background-color: black;
    width: auto;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;  
    /* background-color: coral; */
    margin: 48px 0px 0px 48px;
    padding: 16px 0px;
    width: 164px;
}


.footer_row {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.footer_align_left {
    margin-left: 30px;
    margin-right: 130px;
}

.footer_align_right {
    margin-left: auto;
    margin-right: 253px;
}


#footer_social {
    display: flex;
    flex-direction: row;
    }

.footer_social_image {
    display: flex;
    border: 0px;
    object-fit: fill;
    margin-right: 22px;
    width: 24px;
    height: 24px;
}

.footer_copyright {
    display: flex;
    justify-content: space-between;
    font-family: Regular,sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 100px 80px 0px 70px;
}

.white {
    color: white;
}






.footer_left {
    /* background-color: darkorchid; */
    display: flex;
    width: 50%;
    height: auto;
    /* padding-left: 20px; */
    margin: 0px;
    padding: 0px;
    /* padding: 20px 20px 20px 0px; */

}

.footer_right {
    /* background-color: darkslateblue; */
    display: flex;
    width: 50%;
    height: auto;
    /* padding-left: 20px; */
    margin: 0px;
    padding: 0px;
    /* padding: 20px 20px 20px 0px; */

}

.footer_links_left {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    list-style: none;
    height: fit-content;
    width: fit-content;
    /* margin: 0px; */
}

.footer_links_left a {
    color: white;
    text-decoration: none;

}

.footer_links_right {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    list-style: none;
    height: fit-content;
}

.footer_links_right a {
    color: white;
    text-decoration: none;

}




.light_footer {
    font-family: Regular,sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 0px;
    line-height: 1.25rem;
}




#app_links {
display: flex;
flex-direction: row;
}

.applinkmargins {
    margin: 20px 10px 20px 0px;
    /* margin-right: 10px; */
}





/* Hamburger menu in the navbar is hidden until the screen is too small */
#hamburger {
    display: none;
}

#hamburger div {
    height: 2px;
    width: 25px;
    background-color: #ff2b85;
    margin: 6px 0;
}

.hamburger_dropdown{
    display: inline-block;
    position: relative;
}

.hamburger_list {
    background-color: black;
    position: absolute;
    top: 30px;
    left: 2000px;
    padding: 10px;
    transition: top 0.3s, opacity 0.3s, left 0s;
    opacity: 0;
}

.hamburger_list a {
    color: white;
    white-space: nowrap;
    display: block;
    margin: 5px 0 5px 5px;
    transition: all 0.2s;
}


@media (max-width: 1055px) {
    nav {
        /* background-color: chocolate; */
    }
    /* #navbarlinks {
        display: none;
    } */
    .fixed a {
        font-size: 12px;
        margin: 0px 6px;
        /* padding: 11px 0px; */
   
    }

    .tabbed a {
        font-size: 12px;
        margin: 0px 6px;
        /* padding: 11px 0px; */
   
    }

}

@media (max-width: 930px) {
    nav {
        /* background-color: darkturquoise; */
    }
    .nav_list {
        display: none;
    }
    #navbarLinks {
        display: none;
    }
    #hamburger {
        display: block;
    }
}

@media (max-width: 580px) {
    nav {
        /* background-color: darkmagenta; */
    }
    /* .nav_list {
        display: none; */
    #loc {
        /* font-size: 10px; */
        display: none;
    }    
    #search {
        display: none;

    }    
    #navbarLinks {
        display: none;
    }
    #hamburger {
        display: block;
    }

    .h2bold {
        font-size: 22.5px;
  
    }
}